.button {
  --ai-size: calc(1.6rem * var(--mantine-scale));
  border: 0;
  background-color: var(--ai-icon-bg);
  &:hover {
    background-color: var(--ai-icon-bg-hover);
  }

  & svg {
    stroke: var(--ai-icon-color);
    &:hover {
      stroke: var(--ai-icon-hover);
    }
    & path {
      stroke: inherit;
    }
  }
}
