/** Embedded SVGs for all chess pieces */

.cg-wrap piece.pawn.white {
  background-image: var(---white-pawn);
}
.cg-wrap piece.bishop.white {
  background-image: var(---white-bishop);
}
.cg-wrap piece.knight.white {
  background-image: var(---white-knight);
}
.cg-wrap piece.rook.white {
  background-image: var(---white-rook);
}
.cg-wrap piece.queen.white {
  background-image: var(---white-queen);
}
.cg-wrap piece.king.white {
  background-image: var(---white-king);
}
.cg-wrap piece.pawn.black {
  background-image: var(---black-pawn);
}
.cg-wrap piece.bishop.black {
  background-image: var(---black-bishop);
}
.cg-wrap piece.knight.black {
  background-image: var(---black-knight);
}
.cg-wrap piece.rook.black {
  background-image: var(---black-rook);
}
.cg-wrap piece.queen.black {
  background-image: var(---black-queen);
}
.cg-wrap piece.king.black {
  background-image: var(---black-king);
}
