/** Embedded SVGs for all chess pieces */

.cg-wrap piece.pawn.white {
  background-image: url('/images/pieces/base/wP.png');
}
.cg-wrap piece.bishop.white {
  background-image: url('/images/pieces/base/wB.png');
}
.cg-wrap piece.knight.white {
  background-image: url('/images/pieces/base/wN.png');
}
.cg-wrap piece.rook.white {
  background-image: url('/images/pieces/base/wR.png');
}
.cg-wrap piece.queen.white {
  background-image: url('/images/pieces/base/wQ.png');
}
.cg-wrap piece.king.white {
  background-image: url('/images/pieces/base/wK.png');
}
.cg-wrap piece.pawn.black {
  background-image: url('/images/pieces/base/bP.png');
}
.cg-wrap piece.bishop.black {
  background-image: url('/images/pieces/base/bB.png');
}
.cg-wrap piece.knight.black {
  background-image: url('/images/pieces/base/bN.png');
}
.cg-wrap piece.rook.black {
  background-image: url('/images/pieces/base/bR.png');
}
.cg-wrap piece.queen.black {
  background-image: url('/images/pieces/base/bQ.png');
}
.cg-wrap piece.king.black {
  background-image: url('/images/pieces/base/bK.png');
}
