.root {
  background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-6));
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
  @media (orientation: landscape) {
    border-radius: 6px;
  }
}

.input {
  border-radius: var(--main-bradius);
  padding-inline-start: calc(var(--input-padding-inline-start) + 0.25rem);
  background-color: var(--controls-bg-color);
}
