.input {
  padding-inline-start: calc(var(--input-padding-inline-start) + 0.25rem);
}

.wrapper {
  --input-margin-bottom: 1rem;
  --input-bd-focus: var(--input-bd) !important;
}

.castle {
  display: grid;
  grid:
    '. .'
    '. .'
    / 1fr 1fr;
}
