html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-bradius: 6px;
  --board-min-width: 16rem;
  --board-max-width: 50rem;
  --board-width: clamp(var(--board-min-width), 80vmin, var(--board-max-width));
}

input:-webkit-autofill {
  background-color: rgb(250, 255, 189) !important;
  background-image: none !important;
}

.main-wrap {
  display: grid;
  grid-template-areas: ". . main . .";
  grid-template-columns:
    1vw 1fr auto
    1fr 1vw;
}

/*analyse and editor layout*/

.page-analyse,
.page-editor {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "evalbar board . side"
    ". copyables . .";
  grid-template-rows: var(--board-width) auto;
  grid-template-columns: 1rem var(--board-width) 1rem minmax(16rem, 24rem);
}

.analyse__side {
  grid-area: side;
  display: grid;
  grid-template-areas:
    "tools"
    "controls";
  grid-template-rows: 1fr min-content;
}

.editor__side {
  grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editor__side {
  user-select: none;

  & > div {
    background-color: var(--mantine-color-dark-6);
    border: light-dark(
      1px solid var(--mantine-color-gray-5),
      1px solid var(--mantine-color-dark-4)
    );
    border-radius: var(--main-bradius);
  }
}

/*play layout*/

.page-play {
  grid-area: main;
  display: grid;
  place-items: center;
  grid-template-areas: "chat board . tools ";
  grid-template-rows: auto auto auto;
  grid-template-columns:
    max-content clamp(var(--board-min-width), 100vmin, 50rem)
    1rem max-content;
}

/*common layout*/

.toolbar {
  grid-area: tools;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  border-radius: var(--main-bradius) var(--main-bradius) 0 0;
  background: var(--mantine-color-dark-8);
  @mixin light {
    background: var(--mantine-color-gray-4);
  }
  user-select: none;
}

.controls {
  grid-area: controls;
  border-radius: 0 0 var(--main-bradius) var(--main-bradius);

  .page-editor & {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.copyables {
  grid-area: copyables;
  align-self: start;
  margin-top: 15px;
  width: 100%;
}
