html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-bradius: 6px;
  --board-min-width: 16rem;
  --board-max-width: 50rem;
  --board-width: clamp(var(--board-min-width), 80vmin, var(--board-max-width));
}

input:-webkit-autofill {
  background-color: rgb(250, 255, 189) !important;
  background-image: none !important;
}

.main-wrap {
  display: grid;
  grid-template-areas: ". . main . .";
  grid-template-columns:
    1vw 1fr auto
    1fr 1vw;
}
