.main-wrap {
  --main-bradius: 6px;
  --board-min-width: 200px;
  --board-max-width: 800px;
  --board-width: clamp(var(--board-min-width), 80vmin, var(--board-max-width));
  --main-margin: 0;
  --main-max-width: calc(100vh - calc(var(--site-header-height) - 5rem));
}

.main-wrap {
  display: grid;
  grid-template-areas: '. . main . .';
  grid-template-columns:
    var(--main-margin) 1fr minmax(auto, var(--main-max-width))
    1fr var(--main-margin);
}

.main-wrap {
  @media (min-width: $mantine-breakpoint-sm) and (orientation: landscape) {
    --main-max-width: auto;
    --main-margin: 1vw;
  }

  @media (max-width: $mantine-breakpoint-sm) and (orientation: landscape) {
    --board-width: clamp(var(--board-min-width), 60vw, var(--board-max-width));
    --main-max-width: calc(100vh - calc(var(--site-header-height) - 15rem));
  }
}
