# create a file called .env based on this example
# it use a default user on the postgresql container
# don't forget to replace your secret key

DEBUG=true
SECRET_KEY='your_secret_key'
ALLOWED_HOSTS=localhost,backend
REDIS_HOST=redis
REDIS_PORT=6379
DB_ENGINE=django.db.backends.postgresql
DB_NAME=raviolichess_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# create another file called .env.db
POSTGRES_USER=postgres
PGUSER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=raviolichess_db