#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.board-editor {
  display: grid;
  grid-template-columns: 10fr 1fr 3fr;
  grid-template-rows: min-content auto min-content;
}

.board {
  box-sizing: content-box;
  width: clamp(400px, min(80vmin, 100%), 800px);
  height: clamp(400px, min(80vmin, 100%), 800px);
}
