# Environnement
ENVIRONMENT=local
SSL=false
ALLOWED_HOSTS=http://localhost:5173,http://localhost:8000,http://localhost:8001

# Logs
LOG_LEVEL=INFO
SQL_LOG_LEVEL=WARNING

# Templates
JINJA_CACHE_EXTENSION=true

# Backend
SECRET_KEY=changethis

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
