.controls {
  background: light-dark(
    var(--mantine-color-gray-5),
    var(--mantine-color-dark-6)
  );
  border-top: light-dark(
    1px solid var(--mantine-color-gray-),
    1px solid var(--mantine-color-dark-6)
  );
}

.history {
  padding-bottom: 1rem;
}

.icon {
  border: 0;
  background-color: light-dark(
    var(--mantine-color-gray-5),
    var(--mantine-color-dark-6)
  );
  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-4),
      var(--mantine-color-dark-4)
    );
  }
}
