.controls {
  background: light-dark(
    var(--mantine-color-gray-5),
    var(--mantine-color-dark-6)
  );
  border-top: light-dark(
    1px solid var(--mantine-color-gray-),
    1px solid var(--mantine-color-dark-6)
  );
}

.history {
  padding-bottom: 1rem;
}
