# Environnement
ENVIRONMENT=local
SSL=false

# Templates
JINJA_CACHE_EXTENSION=true

# Backend
SECRET_KEY=changethis

# Redis
REDIS_URL=redis://localhost:6379

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis
