# if you don't want to use docker for the application server
# create a .env file based on this example

DEBUG=true
SECRET_KEY='your_secret_key'
ALLOWED_HOSTS=localhost,127.0.0.1
REDIS_URL=redis://localhost:6379
# Optional: If these variables are not provided, SQLite3 will be used by default.
# Example configuration for using PostgreSQL:
DB_ENGINE=django.db.backends.postgresql
DB_NAME=raviolichess_db
DB_USER=your_username
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432
