.controls {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  @media (orientation: landscape) {
    border-bottom-left-radius: var(--main-bradius);
    border-bottom-right-radius: var(--main-bradius);
  }
}

.controls {
  background: var(--controls-bg-color);
  border-top: light-dark(1px solid var(--mantine-color-gray-6), 1px solid var(--mantine-color-dark-6));
}

.controls-menu {
  align-self: center;
}

.button {
  --ai-bg: var(--controls-bg-color);
  --ai-hover: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-5));
  --ai-color: var(--mantine-color-white) !important;
  --ai-hover-color: var(--ai-color);
  --ai-radius: 0;
  --ai-size: inherit;
}
