.controls {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;

  @media (orientation: landscape) {
    border-bottom-left-radius: var(--main-bradius);
    border-bottom-right-radius: var(--main-bradius);
  }
}

.controls {
  --ai-icon-bg-hover: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-5));
  --ai-icon-hover: var(--ai-icon-color);
  --analyse-controls-bg: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-6));
  background: var(--analyse-controls-bg);
  border-top: light-dark(1px solid var(--mantine-color-gray-6), 1px solid var(--mantine-color-dark-6));
}

.controls-menu {
  align-self: center;
}
