.analyse {
  grid-area: main;
  display: grid;
  grid-template-areas:
    'board'
    'side'
    'copyables';
  grid-template-rows: auto minmax(20em, 40vh) min-content;
  align-self: start;

  & .side {
    grid-area: side;
    display: grid;
  }
  & .copyables {
    grid-area: copyables;
    align-self: start;
  }
}

.side {
  grid-template-areas:
    'controls'
    'tools';
  grid-template-rows: min-content;

  & .controls {
    grid-area: controls;
  }

  & .tools {
    grid-area: tools;
  }
}

@media (orientation: landscape) {
  .analyse {
    grid-template-areas:
      'evalbar board . side'
      '. copyables . .';
    grid-template-rows: var(--board-width);
    grid-template-columns: 1rem var(--board-width) 1rem minmax(240px, 400px);
    row-gap: 15px;

    & .evalbar {
      grid-area: evalbar;
    }
  }
  .side {
    grid-template-areas:
      'tools'
      'controls';
    grid-template-rows: 1fr min-content;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    .analyse {
      grid-template-columns: min-content var(--board-width) 0.2rem minmax(180px, 240px);
      row-gap: 5px;
    }
  }
}
