.analyse {
  --ai-icon-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-white)
  );
  --ai-icon-bg: light-dark(
    var(--mantine-color-gray-5),
    var(--mantine-color-dark-6)
  );
  --ai-icon-hover: light-dark(
    var(--mantine-color-dark-2),
    var(--mantine-color-gray-6)
  );
}
