.moves {
  background: var(--mantine-color-dark-8);
  border: none;
  height: clamp(240px, 60vmin, 640px);
  overflow: hidden;

  @mixin light {
    background: var(--mantine-color-gray-3);
  }
}

.pvs {
  --text-fz: 13px;
  --text-lh: 2em;
  height: 2em;
}

.lines {
  display: flex;
  flex-flow: row wrap;
}

.row {
  display: flex;
  flex: 0 0 10%;
  font-size: 0.8em;
  justify-content: center;
  border-inline-end: 1px solid var(--mantine-color-dark-4);
  background: var(--mantine-color-dark-5);
  line-height: 2.07em;
  color: var(--mantine-color-gray-6);
}

.move {
  display: flex;
  flex: 0 0 45%;
  font-size: 1em;
  line-height: 1.75em;
  padding: 0 0.3em 0 0.5em;
}
