.move {
  background: var(--mantine-color-dark-8);
  border: none;
  height: clamp(240px, 60vmin, 640px);
  overflow: hidden;

  @mixin light {
    background: var(--mantine-color-gray-3);
  }
}

.row {
  display: flex;
  box-sizing: border-box;
  font-weight: 600;
  height: 30px;
  overflow: hidden;
  padding: 0 15px 0 15px;
  position: relative;
  width: 100%;
  gap: 8px;
}

.text {
  left: 3rem;
  position: absolute;
}
