{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, user-scalable=no" />
    <title>raviolichess</title>
    {% load static %}
    <link rel="icon" href={% static 'web/favicon.ico' %} type="image/x-icon" />
    <link rel="stylesheet" href={% vite_asset_url 'src/main/boot/theme.css' %} />
 

    <script src={% static 'web/js/scripts.js'%}></script>
    {% vite_hmr_client %}
    {% vite_react_refresh %}
    {% vite_asset 'src/main.tsx' %}
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    </body>
</html>