.evaltool {
  display: flex;
  column-gap: 6px;
  align-items: stretch;
  position: relative;
  flex: 0 0 30px;
  background: var(--mantine-color-dark-6);
  border-top: 1px solid var(--mantine-color-dark-6);
  border-bottom: 1px solid var(--mantine-color-dark-7);
}

.evalbox {
  background: var(--mantine-color-dark-8);
  border: var(--mantine-color-dark-7);
}

.evalscore {
  flex: 1 0 auto;
  line-height: 25px;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}
.evalname {
  flex: 2 1 auto;
}

.bar {
  grid-area: evalbar;
  width: 1em;
  height: clamp(300px, 71.7vmin, 700px);
  position: relative;
}

.barblack {
  background-color: #313131;
  width: 100%;
}

.barwhite {
  background-color: #f7f7ff;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: height 1s;
  overflow: hidden;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
}
