<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="a chess website for ravioli">
        <meta name="keywords" content="chess, ravioli, tactics, training">
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="minimum-scale=1, initial-scale=1, width=device-width, user-scalable=no" />
        <meta name="darkreader-lock">
        <title>raviolichess</title>
        <link rel="icon" href={{ vite_asset_url('favicon.ico') }} type="image/x-icon" />
        <link rel="stylesheet" href={{ vite_asset_url('src/main/boot/theme.css') }} />
        <script src={{ vite_asset_url('js/scripts.js') }}></script>
        {{ vite_hmr_client() }}
        {{ vite_script('src/main.tsx') }}
    </head>
    <body{% for key, value in user.preference.model_dump(mode='json').items() %} data-{{ key }}="{{ value }}"{% endfor %}>
        {% block content %}
        {% endblock content %}
    </body>
</html>
