<!DOCTYPE html>
<html lang="en">
{% set piece_style = request.state.user.piece_style %}
{% cache 'header?style=' ~ piece_style %}
    <head>
        <meta name="description" content="a chess website for ravioli">
        <meta name="keywords" content="chess, ravioli, tactics, training">
        <meta charset="UTF-8" />
        <meta name="viewport"
              content="minimum-scale=1, initial-scale=1, width=device-width, user-scalable=no" />
        <meta name="darkreader-lock">
        <title>raviolichess</title>
        <link rel="icon" href={{ vite_asset_url('favicon.ico') }} type="image/x-icon" />
        <link rel="stylesheet" href={{ vite_asset_url('src/main/boot/theme.css') }} />
        <script src={{ vite_asset_url('js/scripts.js') }}></script>
        {{ vite_hmr_client() }}
        {{ vite_script('src/main.tsx') }}
    {% with base_path = vite_asset_url('images/pieces/') %}
        <style>
        :root{
        {% for key, value in pieces.items() %}
            {{ key }}: url("{{ base_path}}{{piece_style}}/{{value}}.png");
        {% endfor %}
        }
        </style>
    {% endwith %}
    </head>
{% endcache %}
    <body {{request.state.user.pref_attr | safe}}>
        {% block content %}
        {% endblock content %}
    </body>
</html>
