* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-wrap {
  display: grid;
  place-items: center;
  grid:
    'evalbar     board  .    tools' min-content
    'evalbar     board  .    tools' auto
    '.     copyables    .    tools' min-content
    / 1em clamp(300px, 72vmin, 700px) 2vmin minmax(100px, 200px);
}

.toolbar {
  grid-area: tools;
  align-self: center;
}

.toolbar {
  display: flex;
  flex-flow: column;
}

.board {
  grid-area: board;
  width: 100%;
}

.copyables {
  grid-area: copyables;
}

.fen-controls {
  margin: 0 0 1.5rem 0;
}

.white-castle {
  display: flex;
  align-items: flex-end;
}

.black-castle {
  display: flex;
  align-items: flex-end;
}
