* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-wrap {
  display: grid;
  place-items: center;
  grid-template-areas:
    'evalbar board . tools'
    'evalbar board . tools'
    '. copyables . .';
  grid-template-rows: auto 1fr min-content;
  grid-template-columns: 1em clamp(300px, 72vmin, 700px) 1rem minmax(
      170px,
      300px
    );
}

.toolbar {
  grid-area: tools;
  display: flex;
  flex-flow: column;
  align-self: center;
  overflow: hidden;
  border-radius: 6px;
}

.board {
  grid-area: board;
  width: 100%;
}

.copyables {
  grid-area: copyables;
  width: 100%;
}
