.controls {
  border-radius: 0 0 var(--main-bradius) var(--main-bradius);
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  background: var(--controls-bg-color);
}

.castle {
  display: grid;
  grid:
    '. .'
    '. .'
    / 1fr 1fr;
  justify-items: left;
  padding-bottom: 1rem;
}

.select {
  background: var(--controls-bg-color);
  @mixin light {
    border: 1px solid var(--mantine-color-gray-5);
  }
}
