.controls {
  border-radius: 0 0 var(--main-bradius) var(--main-bradius);
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  background: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-6)
  );
}

.castle {
  display: grid;
  grid:
    ". ."
    ". ."
    / 1fr 1fr;
  justify-items: left;
  padding-bottom: 1rem;
}

.select {
  background: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-7)
  );
}
