.editor {
  grid-area: main;
  display: grid;
  grid-template-areas:
    'spare-top'
    'board'
    'spare-bottom'
    'controls'
    'actions'
    'copyables';

  & .spare-top {
    grid-area: spare-top;
  }

  & .spare-bottom {
    grid-area: spare-bottom;
  }

  & .actions {
    grid-area: actions;
  }

  & .controls {
    grid-area: controls;
  }

  & > .copyables {
    grid-area: copyables;
    align-self: start;
  }
}

@media (orientation: portrait) {
  .copyables {
    > * {
      border-radius: 6px;
    }
  }
}

@media (orientation: landscape) {
  .editor {
    grid-template-areas:
      '. board . side'
      '. copyables . .';
    grid-template-rows: var(--board-width) auto;
    grid-template-columns: 1rem var(--board-width) 1rem minmax(12rem, 400px);
    row-gap: 1rem;

    > .side {
      grid-area: side;
    }
  }

  @media (max-width: $mantine-breakpoint-sm) {
    .editor {
      grid-template-columns: min-content var(--board-width) 1rem minmax(12rem, 400px);
    }
  }
}
