.side {
  display: contents;
}

.side {
  user-select: none;
}

@media (orientation: landscape) {
  .side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
  }
}
