.spare-top {
  border-bottom: light-dark(1px solid var(--mantine-color-gray-5), 1px solid var(--mantine-color-dark-5));
}

.spare-bottom {
  border-top: light-dark(1px solid var(--mantine-color-gray-5), 1px solid var(--mantine-color-dark-5));
}

.spare-bottom,
.spare-top {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: space-around;
  background: var(--controls-bg-color);
}

.spare {
  height: auto;
  flex: 0 0 16.66%;
  transition: all 150ms;

  & > div {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 100%;
    width: 100%;

    & > .piece {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      z-index: 2;
      will-change: transform;
      pointer-events: none;
    }
  }
}

.spare-white {
  & .pawn {
    background-image: var(---white-pawn);
  }
  & .knight {
    background-image: var(---white-knight);
  }
  & .bishop {
    background-image: var(---white-bishop);
  }
  & .rook {
    background-image: var(---white-rook);
  }
  & .queen {
    background-image: var(---white-queen);
  }
  & .king {
    background-image: var(---white-king);
  }
}

.spare-black {
  & .pawn {
    background-image: var(---black-pawn);
  }
  & .knight {
    background-image: var(---black-knight);
  }
  & .bishop {
    background-image: var(---black-bishop);
  }
  & .rook {
    background-image: var(---black-rook);
  }
  & .queen {
    background-image: var(---black-queen);
  }
  & .king {
    background-image: var(---black-king);
  }
}
