.spare-bottom,
.spare-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  background: var(--controls-bg-color);
}

.spare {
  height: auto;
  flex: 0 0 12.5%;
  touch-action: none;

  & > div {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 100%;
    width: 100%;

    & > .piece {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      z-index: 2;
      will-change: transform;
      pointer-events: none;
    }
  }
}

@media (min-width: $mantine-breakpoint-sm) {
  .spare-top,
  .spare-bottom {
    border-right: var(--side-border);
    border-left: var(--side-border);
  }

  .spare-top {
    border-top: var(--side-border);
  }
}

@media (orientation: portrait) {
  .spare-top {
    border-bottom: var(--side-border);
    border-radius: 6px;
    margin-bottom: 1vh;
  }

  .spare-bottom {
    border-radius: 6px 6px 0 0;
    border-top: var(--side-border);
    margin-top: 1vh;
  }
}

@media (orientation: landscape) {
  .spare-top,
  .spare-bottom {
    border: var(--side-border);
    justify-content: space-evenly;
  }

  .spare-top {
    border-radius: 6px 6px 0 0;
    border-bottom: none;
    margin-top: auto;
  }

  .spare-bottom {
    border-radius: 0 0 6px 6px;
    border-top: none;
  }

  .spare {
    flex: 0 0 16.66%;
  }
}

.spare-white {
  & .pawn {
    background-image: var(---white-pawn);
  }
  & .knight {
    background-image: var(---white-knight);
  }
  & .bishop {
    background-image: var(---white-bishop);
  }
  & .rook {
    background-image: var(---white-rook);
  }
  & .queen {
    background-image: var(---white-queen);
  }
  & .king {
    background-image: var(---white-king);
  }
}

.spare-black {
  & .pawn {
    background-image: var(---black-pawn);
  }
  & .knight {
    background-image: var(---black-knight);
  }
  & .bishop {
    background-image: var(---black-bishop);
  }
  & .rook {
    background-image: var(---black-rook);
  }
  & .queen {
    background-image: var(---black-queen);
  }
  & .king {
    background-image: var(---black-king);
  }
}
